<?xml version="1.0" ?>
<robot name="partnet_5d80c1b5-bbcc-4066-9103-2460992ace27">
	<link name="base"/>
	<link name="link_0">
		<visual name="pressing_lid-1">
			<origin xyz="0.002186500000000001 0 0.009778999997167189"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</visual>
		<visual name="pressing_lid-1">
			<origin xyz="0.002186500000000001 0 0.009778999997167189"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</visual>
		<visual name="pressing_lid-1">
			<origin xyz="0.002186500000000001 0 0.009778999997167189"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</visual>
		<!-- <collision>
			<origin xyz="0.002186500000000001 0 0.009778999997167189"/>
			<geometry>
				<mesh filename="textured_objs/original-2.obj"/>
			</geometry>
		</collision> -->
		<collision>
			<origin xyz="0.002186500000000001 0 0.009778999997167189"/>
			<geometry>
				<mesh filename="textured_objs/original-8.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0.002186500000000001 0 0.009778999997167189"/>
			<geometry>
				<mesh filename="textured_objs/original-6.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_0" type="fixed">
		<origin xyz="0.0 0 0.0"/>
		<axis xyz="0 1 0"/>
		<child link="link_0"/>
		<parent link="link_0_helper"/>
	</joint>
	<link name="link_1">
		<visual name="head-3">
			<origin xyz="0.0016189564690488947 0 0.009924500000000003"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</visual>
		<!-- <collision>
			<origin xyz="0.0016189564690488947 0 0.009924500000000003"/>
			<geometry>
				<mesh filename="textured_objs/original-7.obj"/>
			</geometry>
		</collision> -->
	</link>
	<joint name="joint_1" type="fixed">
		<origin xyz="0.0 0 0.0"/>
		<axis xyz="0 -1 0"/>
		<child link="link_1"/>
		<parent link="link_1_helper"/>
	</joint>
	<link name="link_2">
		<!-- <visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</visual> -->
		<!-- <visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</visual> -->
		<!-- <visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</visual> -->
		<!-- <visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</visual> -->
		<visual name="base_body-4">
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</visual>
		<!-- <collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-4.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-3.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-9.obj"/>
			</geometry>
		</collision>
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-5.obj"/>
			</geometry>
		</collision> -->
		<collision>
			<origin xyz="0 0 0"/>
			<geometry>
				<mesh filename="textured_objs/original-1.obj"/>
			</geometry>
		</collision>
	</link>
	<joint name="joint_2" type="fixed">
		<origin rpy="1.570796326794897 0 -1.570796326794897" xyz="0 0 0"/>
		<child link="link_2"/>
		<parent link="base"/>
	</joint>
	<link name="link_0_helper"/>
	<joint name="joint_3" type="prismatic">
		<origin xyz="-0.0005675435309511062 0 0.00014550000283281364"/>
		<axis xyz="0 -1 0"/>
		<child link="link_0_helper"/>
		<parent link="link_1"/>
		<limit lower="0" upper="0.17"/>
	</joint>
	<link name="link_1_helper"/>
	<joint name="joint_4" type="fixed">
		<origin xyz="-0.0016189564690488947 0 -0.009924500000000003"/>
		<axis xyz="0 1 0"/>
		<child link="link_1_helper"/>
		<parent link="link_2"/>
		<limit lower="0" upper="0.19999999999999996"/>
	</joint>
</robot>
